<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Terminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Terminal.Properties.Settings>
            <setting name="TransmitTerminationCharacter" serializeAs="String">
                <value>CR (\r)</value>
            </setting>
            <setting name="ReiceveDataAutoscrollEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceivedDataTimestampEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceivedDataClearOnConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SystemFont" serializeAs="String">
                <value>Monospac821 BT, 10.2pt</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ReceivedDataHexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData1HexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData2HexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData3HexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData4HexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData1TerminateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData2TerminateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData3TerminateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData4TerminateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitDataMultiLineTerminateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmittedDataAutoscrollEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmittedDataClearOnConnectEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmittedDataTimestampEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData1ClearOnSendEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData2ClearOnSendEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData3ClearOnSendEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitData4ClearOnSendEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitDataMultiLineClearOnSendEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitDataMultiLineText" serializeAs="String">
                <value />
            </setting>
            <setting name="TransmitData1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="TransmitData2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="TransmitData3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="TransmitData4Text" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudrateCustomChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaudrateCustom" serializeAs="String">
                <value>115200</value>
            </setting>
        </Terminal.Properties.Settings>
    </userSettings>
</configuration>